<nav class="text-white shadow-md relative z-20" style="background-color: rgba(177, 30, 58);">
    <div class="max-w-7xl mx-auto px-6 py-8 flex justify-between items-center">
        <a href="#" data-nav-link="index.html" class="flex items-center">
            <img 
                fetchpriority="high" 
                width="200" 
                src="images/dpi-logo.png" 
                class="h-auto" 
                alt="Diversity Pilots Initiative"
                srcset="images/dpi-logo.png 847w, images/dpi-logo.png 300w, images/dpi-logo.png 768w" 
                sizes="(max-width: 800px) 100vw, 800px">
        </a>
        <div class="space-x-6 text-lg font-semibold hidden md:flex items-center">
            <a href="#" data-nav-link="index.html" class="text-white px-5 py-3 rounded hover:bg-[#4A0E22] transition">HOME</a>
            <a href="#" data-nav-link="team.html" class="text-white px-5 py-3 rounded hover:bg-[#4A0E22] transition">TEAM</a>
            <a href="#" data-nav-link="diary2.html" class="text-white px-5 py-3 rounded hover:bg-[#4A0E22] transition">DIARY</a>
            <a href="#" data-nav-link="blog.html" class="text-white px-5 py-3 rounded hover:bg-[#4A0E22] transition">BLOG</a>
            <a href="#" data-nav-link="conference.html" class="text-white px-5 py-3 rounded hover:bg-[#4A0E22] transition">CONFERENCE</a>
            <!--<a href="#" data-nav-link="admin.html" class="text-white px-5 py-3 rounded hover:bg-[#4A0E22] transition">ADMIN</a>-->
        </div>
        
        <!-- Mobile menu button -->
        <button id="menu-btn" class="md:hidden text-white" aria-label="Toggle navigation">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
    </div>
    
      <!-- Mobile menu -->
      <div id="mobile-menu" class="hidden md:hidden text-white px-6 pb-4 text-lg font-semibold" style="background-color: rgba(160, 50, 50, 1);">
        <a href="#" data-nav-link="index.html" class="block py-3 px-5 rounded hover:bg-[#4A0E22]">HOME</a>
        <a href="#" data-nav-link="team.html" class="block py-3 px-5 rounded hover:bg-[#4A0E22]">TEAM</a>
        <a href="#" data-nav-link="diary2.html" class="block py-3 px-5 rounded hover:bg-[#4A0E22]">DIARY</a>
        <a href="#" data-nav-link="blog.html" class="block py-3 px-5 rounded hover:bg-[#4A0E22]">BLOG</a>
       
        
     </div>
</nav>
